<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoLearnDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB8259971CB3613C00DE2750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB8259B01CB3613C00DE2750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB8259BB1CB3613C00DE2750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
